# 법무부 외국인 유학생 관리 정보

- 국내 유학중인 외국인유학생의 국적, 체류자격 및 학사 정보를 제공합니다. (제공 항목은 성별, 국적명, 체류자격, 학교명)
- https://www.data.go.kr/data/3069982/fileData.do

  ![요약정보](./images/summaryinfo.PNG)

## 데이터 분석의 목표 

- 한국에 체류중인 외국인 유학생의 반기별 인원/체류자격/학과 및 학교 통계 확인
- 코로나 전/후 외국인 유학생의 학과 및 학교 선호도(학교, 지역 별) 변화 추이 
- 가능한 경우 다른 수집 데이터(예-지역별 거주 외국인 데이터) 분석 자료와 연계한 정보 발굴

## 데이터 확인

- 2022년 상반기까지 총 26개의 csv 파일로 제공되며 연차별로 제공되는 데이터에 차이가 확인됨
- 2009~2017년도까지 국적 및 체류자격별 유학생 통계자료를 연간수집해오다가 2014년부터 반기별 외국인유학생관리정보를 추가로 조사
- 중복성 데이터 문제라고 판단해서 인지 혹은 데이터 수집의 정확도를 위해서인지 기존 국적 및 체류자격별 유학생 통계자료는 중단함.
- 외국인유학생관리정보의 경우 2015년 하반기부터 체류 시도/시군구 항목이 추가. 2021년부터 생년, 체류지 시도/시군구 항목 사라짐
- 우리가 필요한 데이터를 정의하여 베이스가 되는 통계 정보로 변환 가공 필요

### 파일별 데이터 확인

In [2]:
import os
import glob
import pandas as pd
for csv in glob.glob('data/*.csv'):
    path, fname = os.path.split(csv)
    display(fname)
    df = pd.read_csv(csv, encoding='cp949')
    display(df.head(1))

'법무부_국내유학중인 외국인유학생2019년하반기.csv'

   순번 성별    생년  국적명  체류자격    학교명 체류지 시도 체류지 시군구
0   1  여  1999  베트남  학사과정  대구대학교   경상북도     경산시

'법무부_외국인유학생관리정보(2014년하반기).csv'

   순번 성별    생년 국적명  체류자격             학교명
0   1  여  1972  일본  박사과정  한국학중앙연구원한국학대학원

'법무부_유학생 개방 데이터(21년상반기).csv'

  성별 국적명  체류자격        학교명
0  남  말리  학사과정  학교법인성결대학교

'국적+및+체류자격별+유학생+통계+자료(2011년).csv'

  국적명    성별  전문학사  학사유학  석사유학  박사유학  연구유학  교환학생  교환학생.1  한국어연수
0  가나  남(M)     0     8    31     8     0     0       0      5

'국내유학중인 외국인유학생 데이터(2016년 6월기준).csv'

  성별    생년   국적명  체류자격    학교명 체류지 시도 체류지 시군구 Unnamed: 7
0  여  1967  스리랑카  박사유학  고려대학교  서울특별시     금천구        NaN

'유학생관련 현황.csv'

,국적명,유학(D-2),전문학사(D-2-1),학사유학(D-2-2),석사유학(D-2-3),박사유학(D-2-4),연구유학(D-2-5),교환학생(D-2-6),일-학습연계 유학(D-2,단기유학(D-2-8),교환학생(D-2-F),일반연수(D-4),대학부설어학원연수(D,외국어연수(D-4-7)
0,한국계 중국인,95,5,63,17,9,1,0,0,0,0,8,8,0

'유학생_개방데이터(2017년12월31일 기준.csv'

/tmp/ipykernel_1047534/220378766.py:7: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv, encoding='cp949')

  성별    생년 국적명       체류자격    학교명 체류지 시도 체류지 시군구
0  남  1999  몽골  대학부설어학원연수  동명대학교  부산광역시      남구

'국적+및+체류자격별+유학생+통계+자료(2010년).csv'

  국적명    성별  전문학사  학사유학  석사유학  박사유학  연구유학  교환학생  한국어연수
0  가나  남(M)     0     6    18     8     0     0      5

'(2015년)국적+및+체류자격별+유학생+통계+자료.csv'

,국적 및 지역,성별,합계,유학(D-2),전문학사(D-2-1),학사유학(D-2-2),석사유학(D-2-3),박사유학(D-2-4),연구유학(D-2-5),교환학생(D-2-6),교환학생(D-2-F),일반연수(D-4),대학부설어학원연수(D-4-1),외국어연수(D-4-7)
0,중 국,(M),24034,15824,679,10098,3154,905,16,971,1,8210,8210,0

'국적 및 체류자격별 유학생 통계 자료(2014년).csv'

,국적,성별,유학(D-2),전문학사(D-2-1),학사유학(D-2-2),석사유학(D-2-3),박사유학(D-2-4),연구유학(D-2-5),교환학생(D-2-6),교환학생(D-2-F),일반연수(D-4),대학부설어학원연수(D,외국어연수(D-4-7),기타
0,중 국,(M),15812,802,9861,3333,810,8,997,1,7609,7607,2,115948

'법무부_국적 및 체류자격별 유학생 관련 현황(2017년).csv'

,국적명,성별,전문학사(D-2-1),학사유학(D-2-2),석사유학(D-2-3),박사유학(D-2-4),연구유학(D-2-5),교환학생(D-2-6),일-학습연계 유학(D-2-7),단기유학(D-2-8),대학부설어학원연수(D-4-1),외국어연수(D-4-7)
0,한국계 중국인,남,8,106,15,8,1,16,0,0,68,0

'법무부_2018년 상반기 국내 유학중인 외국인유학생 관련자료.csv'

  성별    생년  국적명       체류자격    학교명 체류지 시도 체류지 시군구
0  남  1998  베트남  대학부설어학원연수  인하대학교  인천광역시    미추홀구

'정보화센터_유학생_201507_최종.csv'

  성별      연령대 국적명  체류자격     학교명
0  여  1990년대생  중국  전문학사  영진전문대학

'법무부_유학생 개방데이터(2020년하반기).csv'

   순번 성별    생년 국적명  체류자격        학교명 체류지 시도 체류지 시군구
0   1  남  2000  말리  학사과정  학교법인성결대학교  서울특별시     용산구

'국내유학중인 외국인유학생 데이터(2016년 12월기준).csv'

  성별    생년 국적명  체류자격    학교명 체류지 시도 체류지 시군구
0  여  1996  중국  학사유학  고려대학교  서울특별시     성북구

'법무부_외국인유학생관리정보(2014년상반기).csv'

   순번 성별    생년 국적명  체류자격    학교명
0   1  남  1991  중국  학사과정  경북대학교

'국적+및+체류자격별+유학생+통계+자료(2013년).csv'

   국적    성별  유학  전문학사  학사유학  석사유학  박사유학  연구유학  교환학생  교환학생.1  한국어연수
0  가나  남(M)  92     0    15    63    11     0     3       0     13

'법무부_유학생관리정보 데이터_20220630.csv'

  성별 국적명  체류자격        학교명
0  남  말리  학사과정  학교법인성결대학교

'국적+및+체류자격별+유학생+통계+자료(2012년).csv'

   국적    성별  전문학사  학사유학  석사유학  박사유학  연구유학  교환학생  교환학생.1  한국어연수
0  가나  남(M)     0    10    36     8     0     0       0      8

'법무부_유학생 개방 데이터(21년 하반기).csv'

  성별 국적명  체류자격        학교명
0  남  말리  학사과정  학교법인성결대학교

'법무부_외국인유학생 관리정보(2020년상반기).csv'

   순번 성별    생년 국적명  체류자격        학교명 체류지 시도 체류지 시군구
0   1  남  2000  말리  학사과정  학교법인성결대학교  서울특별시     용산구

'법무부_2019년 상반기 국내 유학중인 외국인유학생(전체).csv'

   순번 성별    생년 국적명  체류자격    학교명   체류지 시도 체류지 시군구
0   1  남  1999  몽골  학사유학  제주대학교  제주특별자치도     제주시

'정보화센터_유학생_201512.csv'

  성별      연령대  국적명  체류자격     학교명 체류지 시도 체류지 시군구
0  남  1990년대생  베트남  전문학사  영남이공대학  대구광역시      남구

'유학생_개방데이터_201706.csv'

  성별    생년 국적명       체류자격           학교명 체류지 시도 체류지 시군구
0  남  1982  중국  대학부설어학원연수  (학)명지학원관동대학교    강원도     강릉시

'법무부_유학생 개방 데이터(2018년 하반기)전체.csv'

   순번 성별    생년 국적명  체류자격    학교명 체류지 시도 체류지 시군구
0   1  여  1993  중국  학사유학  경기대학교  서울특별시     관악구

'국적 및 체류자격별 유학생 통계 자료(2016년)_유학생관련 현황.csv'

,국적명,유학(D-2),전문학사(D-2-1),학사유학(D-2-2),석사유학(D-2-3),박사유학(D-2-4),연구유학(D-2-5),교환학생(D-2-6),일-학습연계 유학(D-2,단기유학(D-2-8),교환학생(D-2-F),일반연수(D-4),대학부설어학원연수(D,외국어연수(D-4-7)
0,한국계 중국인,95,5,63,17,9,1,0,0,0,0,8,8,0

### 데이터 형태별 확인

데이터 형태를 확인해보면 일정기간에 걸쳐 두 개의 통계데이터 형태가 관측됨.   
'체류 자격별 유학생 통계의 취합 정보'는 '유학생 개별 현황 정보'를 이용하여 취합 가능한 정보이므로  
'유학생 개별 현황 정보'를 이용하여 국가별, 학교별, 현황과 코로나 사태와 유학생 수와의 관계, 국가별 선호도 확인 가능

(9/26)
- 체류 자격별 유학생 통계의 취합 정보 : 연도별, 국적 및 성별, 체류 자격에 대한 취합
  - '법무부_국적 및 체류자격별 유학생 관련 현황(2017년).csv'
  - '(2015년)국적+및+체류자격별+유학생+통계+자료.csv'
  - '국적 및 체류자격별 유학생 통계 자료(2014년).csv'
  - '국적+및+체류자격별+유학생+통계+자료(2013년).csv'
  - '국적+및+체류자격별+유학생+통계+자료(2012년).csv'
  - '국적+및+체류자격별+유학생+통계+자료(2011년).csv'
  - '국적+및+체류자격별+유학생+통계+자료(2010년).csv'
  - (+)(Moon)'법무부_국적 및 체류자격별 유학생 자료(2009년).csv'
  - '유학생관련 현황.csv' -> (Moon) 2016년 자료임
   
(17/26)
- 유학생 개별 현황 정보 : 체류 국적, 나이, 성별, 체류 자격, 학교, 체류 지역의 개별 현황 정보
  - '법무부_유학생관리정보 데이터_20220630.csv'
  - '법무부_유학생 개방 데이터(21년 하반기).csv'
  - '법무부_유학생 개방 데이터(21년상반기).csv'
  - '법무부_유학생 개방데이터(2020년하반기).csv'
  - '법무부_외국인유학생 관리정보(2020년상반기).csv'
  - '법무부_국내유학중인 외국인유학생2019년하반기.csv'
  - '법무부_2019년 상반기 국내 유학중인 외국인유학생(전체).csv'
  - '법무부_유학생 개방 데이터(2018년 하반기)전체.csv'
  - '법무부_2018년 상반기 국내 유학중인 외국인유학생 관련자료.csv'
  - '유학생_개방데이터(2017년12월31일 기준.csv'
  - '유학생_개방데이터_201706.csv'
  - '국내유학중인 외국인유학생 데이터(2016년 12월기준).csv'
  - '국내유학중인 외국인유학생 데이터(2016년 6월기준).csv'
  - '정보화센터_유학생_201512.csv'
  - '정보화센터_유학생_201507_최종.csv'
  - '법무부_외국인유학생관리정보(2014년하반기).csv'
  - '법무부_외국인유학생관리정보(2014년상반기).csv'

# 데이터 정제

## 데이터 가공 1차 - 병합
- 컬럼 정비 : 데이터 타입 정리, 불필요한 컬럼(인덱스) 정비

In [3]:
# 파일 정비
csv_files = [
    '법무부_유학생관리정보 데이터_20220630.csv',
    '법무부_유학생 개방 데이터(21년 하반기).csv',
    '법무부_유학생 개방 데이터(21년상반기).csv',
    '법무부_유학생 개방데이터(2020년하반기).csv',
    '법무부_외국인유학생 관리정보(2020년상반기).csv',
    '법무부_국내유학중인 외국인유학생2019년하반기.csv',
    '법무부_2019년 상반기 국내 유학중인 외국인유학생(전체).csv',
    '법무부_유학생 개방 데이터(2018년 하반기)전체.csv',
    '법무부_2018년 상반기 국내 유학중인 외국인유학생 관련자료.csv',
    '유학생_개방데이터(2017년12월31일 기준.csv',
    '유학생_개방데이터_201706.csv',
    '국내유학중인 외국인유학생 데이터(2016년 12월기준).csv',
    '국내유학중인 외국인유학생 데이터(2016년 6월기준).csv',
    '정보화센터_유학생_201512.csv',
    '정보화센터_유학생_201507_최종.csv',
    '법무부_외국인유학생관리정보(2014년하반기).csv',
    '법무부_외국인유학생관리정보(2014년상반기).csv']

import os
import glob
import pandas as pd

def reload_data(csv_files, show=False, low_memory=True):
    """
    CSV 를 다시 읽어온다.
    return {(파일명, dataframe)}
    """
    df_dict = {}
    for csv in csv_files:
        csv_path = os.path.join('data/', csv)
        path, fname = os.path.split(csv_path)
        if show: display(fname)
        df = pd.read_csv(csv_path, encoding='cp949', low_memory=low_memory)
        if show: display(df.head(1))
        df_dict[fname] = df
    return df_dict

df_dict = reload_data(csv_files, show=True)

'법무부_유학생관리정보 데이터_20220630.csv'

  성별 국적명  체류자격        학교명
0  남  말리  학사과정  학교법인성결대학교

'법무부_유학생 개방 데이터(21년 하반기).csv'

  성별 국적명  체류자격        학교명
0  남  말리  학사과정  학교법인성결대학교

'법무부_유학생 개방 데이터(21년상반기).csv'

  성별 국적명  체류자격        학교명
0  남  말리  학사과정  학교법인성결대학교

'법무부_유학생 개방데이터(2020년하반기).csv'

   순번 성별    생년 국적명  체류자격        학교명 체류지 시도 체류지 시군구
0   1  남  2000  말리  학사과정  학교법인성결대학교  서울특별시     용산구

'법무부_외국인유학생 관리정보(2020년상반기).csv'

   순번 성별    생년 국적명  체류자격        학교명 체류지 시도 체류지 시군구
0   1  남  2000  말리  학사과정  학교법인성결대학교  서울특별시     용산구

'법무부_국내유학중인 외국인유학생2019년하반기.csv'

   순번 성별    생년  국적명  체류자격    학교명 체류지 시도 체류지 시군구
0   1  여  1999  베트남  학사과정  대구대학교   경상북도     경산시

'법무부_2019년 상반기 국내 유학중인 외국인유학생(전체).csv'

   순번 성별    생년 국적명  체류자격    학교명   체류지 시도 체류지 시군구
0   1  남  1999  몽골  학사유학  제주대학교  제주특별자치도     제주시

'법무부_유학생 개방 데이터(2018년 하반기)전체.csv'

   순번 성별    생년 국적명  체류자격    학교명 체류지 시도 체류지 시군구
0   1  여  1993  중국  학사유학  경기대학교  서울특별시     관악구

'법무부_2018년 상반기 국내 유학중인 외국인유학생 관련자료.csv'

  성별    생년  국적명       체류자격    학교명 체류지 시도 체류지 시군구
0  남  1998  베트남  대학부설어학원연수  인하대학교  인천광역시    미추홀구

'유학생_개방데이터(2017년12월31일 기준.csv'

/tmp/ipykernel_1047534/4004889910.py:35: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path, encoding='cp949', low_memory=low_memory)

  성별    생년 국적명       체류자격    학교명 체류지 시도 체류지 시군구
0  남  1999  몽골  대학부설어학원연수  동명대학교  부산광역시      남구

'유학생_개방데이터_201706.csv'

  성별    생년 국적명       체류자격           학교명 체류지 시도 체류지 시군구
0  남  1982  중국  대학부설어학원연수  (학)명지학원관동대학교    강원도     강릉시

'국내유학중인 외국인유학생 데이터(2016년 12월기준).csv'

  성별    생년 국적명  체류자격    학교명 체류지 시도 체류지 시군구
0  여  1996  중국  학사유학  고려대학교  서울특별시     성북구

'국내유학중인 외국인유학생 데이터(2016년 6월기준).csv'

  성별    생년   국적명  체류자격    학교명 체류지 시도 체류지 시군구 Unnamed: 7
0  여  1967  스리랑카  박사유학  고려대학교  서울특별시     금천구        NaN

'정보화센터_유학생_201512.csv'

  성별      연령대  국적명  체류자격     학교명 체류지 시도 체류지 시군구
0  남  1990년대생  베트남  전문학사  영남이공대학  대구광역시      남구

'정보화센터_유학생_201507_최종.csv'

  성별      연령대 국적명  체류자격     학교명
0  여  1990년대생  중국  전문학사  영진전문대학

'법무부_외국인유학생관리정보(2014년하반기).csv'

   순번 성별    생년 국적명  체류자격             학교명
0   1  여  1972  일본  박사과정  한국학중앙연구원한국학대학원

'법무부_외국인유학생관리정보(2014년상반기).csv'

   순번 성별    생년 국적명  체류자격    학교명
0   1  남  1991  중국  학사과정  경북대학교

### 데이터 오류 경고 보정

(Moon) 칼럼에 NaN 값 또는 여러 타입의 데이터가 섞여있을 경우 발생되는 경고메시지이며 dtype 옵션을 명시해주거나 low_memory=False 로 지정해주면 경고 메시지가 출력되지 않는다.

> '유학생_개방데이터(2017년12월31일 기준.csv'
>>  DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.  
>>  df = pd.read_csv(csv_path, encoding='cp949')

In [4]:
df = pd.read_csv('data/유학생_개방데이터(2017년12월31일 기준.csv', encoding='cp949', low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133967 entries, 0 to 133966
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   성별       133967 non-null  object
 1   생년       133967 non-null  int64
 2   국적명      133967 non-null  object
 3   체류자격     133967 non-null  object
 4   학교명      127522 non-null  object
 5   체류지 시도   133967 non-null  object
 6   체류지 시군구  133967 non-null  object
dtypes: int64(1), object(6)
memory usage: 7.2+ MB

In [5]:
# low_memory 설정 후 다시 읽기
df_dict = reload_data(csv_files, show=False, low_memory=False)

### 데이터에 조사시기 추가
- 조사 시기가 데이터에 포함되어 있지 않아 추가가 필요함
- 조사 시기는 파일명에 포함되어 있으나 규칙 없는 데이터로 손수 추가해야함

In [6]:
# 파일명 별 조사 시기 정보 구축, 연도, 상반기, 하반기 정보 추가

csv_files2 = [
    ('법무부_유학생관리정보 데이터_20220630.csv', '2022', '6'),
    ('법무부_유학생 개방 데이터(21년 하반기).csv', '2021', '12') ,
    ('법무부_유학생 개방 데이터(21년상반기).csv', '2021', '6'),
    ('법무부_유학생 개방데이터(2020년하반기).csv', '2020', '12'),
    ('법무부_외국인유학생 관리정보(2020년상반기).csv', '2020', '6'),
    ('법무부_국내유학중인 외국인유학생2019년하반기.csv', '2019', '12'),
    ('법무부_2019년 상반기 국내 유학중인 외국인유학생(전체).csv', '2019', '6'),
    ('법무부_유학생 개방 데이터(2018년 하반기)전체.csv', '2018', '12'),
    ('법무부_2018년 상반기 국내 유학중인 외국인유학생 관련자료.csv', '2018', '6'),
    ('유학생_개방데이터(2017년12월31일 기준.csv', '2017', '12'),
    ('유학생_개방데이터_201706.csv', '2017', '6'),
    ('국내유학중인 외국인유학생 데이터(2016년 12월기준).csv', '2016', '12'),
    ('국내유학중인 외국인유학생 데이터(2016년 6월기준).csv', '2016', '6'),
    ('정보화센터_유학생_201512.csv', '2015', '12'),
    ('정보화센터_유학생_201507_최종.csv', '2015', '6'),
    ('법무부_외국인유학생관리정보(2014년하반기).csv', '2014', '12'),
    ('법무부_외국인유학생관리정보(2014년상반기).csv', '2014', '6')]

def reload_data2(csv_files, show=False, low_memory=True):
    """
    CSV 를 다시 읽어온다.
    return {(파일명, dataframe)}
    """
    df_dict = {}
    for csv in csv_files:
        csv_path = os.path.join('data/', csv[0])
        path, fname = os.path.split(csv_path)
        if show: display(fname)
        df = pd.read_csv(csv_path, encoding='cp949', low_memory=low_memory)
        
        df['조사년월'] = ['{}{:02d}'.format(csv[1], int(csv[2])) for i in range(len(df))]
        # df['조사년월'] = pd.to_datetime(df['조사년월'], format='%Y%m')
        df_dict[fname] = df
        if show: display(df.head(1))
    return df_dict

df_dict = reload_data2(csv_files2, show=True, low_memory=False)

'법무부_유학생관리정보 데이터_20220630.csv'

  성별 국적명  체류자격        학교명    조사년월
0  남  말리  학사과정  학교법인성결대학교  202206

'법무부_유학생 개방 데이터(21년 하반기).csv'

  성별 국적명  체류자격        학교명    조사년월
0  남  말리  학사과정  학교법인성결대학교  202112

'법무부_유학생 개방 데이터(21년상반기).csv'

  성별 국적명  체류자격        학교명    조사년월
0  남  말리  학사과정  학교법인성결대학교  202106

'법무부_유학생 개방데이터(2020년하반기).csv'

   순번 성별    생년 국적명  체류자격        학교명 체류지 시도 체류지 시군구    조사년월
0   1  남  2000  말리  학사과정  학교법인성결대학교  서울특별시     용산구  202012

'법무부_외국인유학생 관리정보(2020년상반기).csv'

   순번 성별    생년 국적명  체류자격        학교명 체류지 시도 체류지 시군구    조사년월
0   1  남  2000  말리  학사과정  학교법인성결대학교  서울특별시     용산구  202006

'법무부_국내유학중인 외국인유학생2019년하반기.csv'

   순번 성별    생년  국적명  체류자격    학교명 체류지 시도 체류지 시군구    조사년월
0   1  여  1999  베트남  학사과정  대구대학교   경상북도     경산시  201912

'법무부_2019년 상반기 국내 유학중인 외국인유학생(전체).csv'

   순번 성별    생년 국적명  체류자격    학교명   체류지 시도 체류지 시군구    조사년월
0   1  남  1999  몽골  학사유학  제주대학교  제주특별자치도     제주시  201906

'법무부_유학생 개방 데이터(2018년 하반기)전체.csv'

   순번 성별    생년 국적명  체류자격    학교명 체류지 시도 체류지 시군구    조사년월
0   1  여  1993  중국  학사유학  경기대학교  서울특별시     관악구  201812

'법무부_2018년 상반기 국내 유학중인 외국인유학생 관련자료.csv'

  성별    생년  국적명       체류자격    학교명 체류지 시도 체류지 시군구    조사년월
0  남  1998  베트남  대학부설어학원연수  인하대학교  인천광역시    미추홀구  201806

'유학생_개방데이터(2017년12월31일 기준.csv'

  성별    생년 국적명       체류자격    학교명 체류지 시도 체류지 시군구    조사년월
0  남  1999  몽골  대학부설어학원연수  동명대학교  부산광역시      남구  201712

'유학생_개방데이터_201706.csv'

  성별    생년 국적명       체류자격           학교명 체류지 시도 체류지 시군구    조사년월
0  남  1982  중국  대학부설어학원연수  (학)명지학원관동대학교    강원도     강릉시  201706

'국내유학중인 외국인유학생 데이터(2016년 12월기준).csv'

  성별    생년 국적명  체류자격    학교명 체류지 시도 체류지 시군구    조사년월
0  여  1996  중국  학사유학  고려대학교  서울특별시     성북구  201612

'국내유학중인 외국인유학생 데이터(2016년 6월기준).csv'

  성별    생년   국적명  체류자격    학교명 체류지 시도 체류지 시군구 Unnamed: 7    조사년월
0  여  1967  스리랑카  박사유학  고려대학교  서울특별시     금천구        NaN  201606

'정보화센터_유학생_201512.csv'

  성별      연령대  국적명  체류자격     학교명 체류지 시도 체류지 시군구    조사년월
0  남  1990년대생  베트남  전문학사  영남이공대학  대구광역시      남구  201512

'정보화센터_유학생_201507_최종.csv'

  성별      연령대 국적명  체류자격     학교명    조사년월
0  여  1990년대생  중국  전문학사  영진전문대학  201506

'법무부_외국인유학생관리정보(2014년하반기).csv'

   순번 성별    생년 국적명  체류자격             학교명    조사년월
0   1  여  1972  일본  박사과정  한국학중앙연구원한국학대학원  201412

'법무부_외국인유학생관리정보(2014년상반기).csv'

   순번 성별    생년 국적명  체류자격    학교명    조사년월
0   1  남  1991  중국  학사과정  경북대학교  201406

In [7]:
# 이제 붙여보자
df = pd.concat(df_dict.values(), ignore_index=True)
df.reset_index(drop=True, inplace=True)
df.info()
display(df.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175883 entries, 0 to 2175882
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   성별          object
 1   국적명         object
 2   체류자격        object
 3   학교명         object
 4   조사년월        object
 5   순번          float64
 6   생년          float64
 7   체류지 시도      object
 8   체류지 시군구     object
 9   Unnamed: 7  object
 10  연령대         object
dtypes: float64(2), object(9)
memory usage: 182.6+ MB

,성별,국적명,체류자격,학교명,조사년월,순번,생년,체류지 시도,체류지 시군구,Unnamed: 7,연령대
0,남,말리,학사과정,학교법인성결대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
1,남,중국,학사과정,숭실대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
2,남,방글라데시,학사과정,세종대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
3,남,미국,학사과정,한국외국어대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
4,남,중국,학사과정,가천대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
5,남,중국,대학부설 어학원 연수,건국대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
6,남,베트남,대학부설 어학원 연수,경성대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
7,남,베트남,대학부설 어학원 연수,부산과학기술대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
8,남,베트남,전문학사과정,동원과학기술대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
9,남,중국,대학부설 어학원 연수,신라대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# 필요 없는 컬럼을 제거
del df['순번']
del df['Unnamed: 7']
df.reset_index(drop=True, inplace=True)
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175883 entries, 0 to 2175882
Data columns (total 9 columns):
 #   Column   Dtype
---  ------   -----
 0   성별       object
 1   국적명      object
 2   체류자격     object
 3   학교명      object
 4   조사년월     object
 5   생년       float64
 6   체류지 시도   object
 7   체류지 시군구  object
 8   연령대      object
dtypes: float64(1), object(8)
memory usage: 149.4+ MB

  성별    국적명         체류자격        학교명    조사년월  생년 체류지 시도 체류지 시군구  연령대
0  남     말리         학사과정  학교법인성결대학교  202206 NaN    NaN     NaN  NaN
1  남     중국         학사과정      숭실대학교  202206 NaN    NaN     NaN  NaN
2  남  방글라데시         학사과정      세종대학교  202206 NaN    NaN     NaN  NaN
3  남     미국         학사과정   한국외국어대학교  202206 NaN    NaN     NaN  NaN
4  남     중국         학사과정      가천대학교  202206 NaN    NaN     NaN  NaN
5  남     중국  대학부설 어학원 연수      건국대학교  202206 NaN    NaN     NaN  NaN
6  남    베트남  대학부설 어학원 연수      경성대학교  202206 NaN    NaN     NaN  NaN
7  남    베트남  대학부설 어학원 연수  부산과학기술대학교  202206 NaN    NaN     NaN  NaN
8  남    베트남       전문학사과정  동원과학기술대학교  202206 NaN    NaN     NaN  NaN
9  남     중국  대학부설 어학원 연수      신라대학교  202206 NaN    NaN     NaN  NaN

In [9]:
# 연령대 정보를 활용하면 2022, 2011를 제외하고 생년 정보 추가가 가능
# (Moon)연령대 정보를 활용하면 2022, 2021를 제외하고 생년 정보 추가가 가능
print(df[df['생년'].isnull()]['조사년월'].unique())
print(df[df['연령대'].isnull()]['조사년월'].unique())
print(df[df['생년'].isnull() & df['연령대'].notnull()]['조사년월'].unique())
print(df[df['생년'].notnull() & df['연령대'].isnull()]['조사년월'].unique())

# 연령대, 생년이 모두 없는 정보
print('---'*10)
print(df[df['연령대'].isnull() & df['생년'].isnull()]['조사년월'].unique())

['202206' '202112' '202106' '201512' '201506']
['202206' '202112' '202106' '202012' '202006' '201912' '201906' '201812'
 '201806' '201712' '201706' '201612' '201606' '201412' '201406']
['201512' '201506']
['202012' '202006' '201912' '201906' '201812' '201806' '201712' '201706'
 '201612' '201606' '201412' '201406']
------------------------------
['202206' '202112' '202106']

In [10]:
# 연령대에서 '년대생' 제거
print(df['연령대'].unique())
df['연령대'] = df['연령대'].str.replace('년대생', '')
print(df['연령대'].unique())

[nan '1990년대생' '2000년대생' '1940년대생' '1950년대생' '1960년대생' '1970년대생' '1980년대생'
 '1930년대생']
[nan '1990' '2000' '1940' '1950' '1960' '1970' '1980' '1930']

In [11]:
# 바뀐 연령대 정보를 생년에 추가
df.loc[df['연령대'].notnull(), '생년'] = df[df['연령대'].notnull()]['연령대']
df['생년'] = df['생년'].astype('float')
df[df['연령대'].notnull()][['생년', '연령대']].head(3)

             생년   연령대
1828399  1990.0  1990
1828400  1990.0  1990
1828401  1990.0  1990

In [12]:
# 조사 기간과 생년 정보를 이용하여 연령대를 나이로 계산하여 변경, 컬럼명은 연령으로 변경
df = df.rename(columns={"연령대": "연령"})
df.loc[df['생년'].notnull(), "연령"] = (df[df['생년'].notnull()]['조사년월'].str.slice(0, 4).astype(float) - df[df['생년'].notnull()]['생년']).astype('int')

# 생년이 없는 레코드의 '연령'은 None 으로 지정
df.loc[df['생년'].isnull(), '연령'] = None

# 확인
df[df['연령'].notnull()].head(5)

       성별    국적명         체류자격        학교명    조사년월      생년 체류지 시도 체류지 시군구  연령
485532  남     말리         학사과정  학교법인성결대학교  202012  2000.0  서울특별시     용산구  20
485533  남  방글라데시         학사과정      세종대학교  202012  2000.0  서울특별시     광진구  20
485534  남    카타르         학사과정   한국외국어대학교  202012  2000.0  서울특별시     용산구  20
485535  남    베트남  대학부설 어학원 연수      경성대학교  202012  2000.0  부산광역시      남구  20
485536  남    베트남  대학부설 어학원 연수  부산과학기술대학교  202012  2000.0  부산광역시      북구  20

### 범주형 데이터 확인
- 결측치 및 이상치 확인
- 성별, 국적명, 체류자격, 학교명, 체류지 시도, 체류지 시군구 항목 확인

In [13]:
# 각 필드도 확인해보자.
print('성별')
print(sorted(df['성별'].unique()))
print('국적명')
print(sorted(df['국적명'].unique()))
print('체류자격')
print(sorted(df['체류자격'].unique()))
print('학교명')
try: 
    print(sorted(df['학교명'].unique()))
except:
    print('has nan..')
    print(df['학교명'].unique())
print('체류지 시도')
try:
    print(sorted(df['체류지 시도'].unique()))
except:
    print('has nan..')
    print(df['체류지 시도'].unique())
    
print('체류지 시군구')
try:
    print(sorted(df['체류지 시군구'].unique()))
except:
    print('has nan..')
    print(df['체류지 시군구'].unique())

성별
['남', '여']
국적명
['가나', '가봉', '가이아나', '감비아', '과테말라', '그레나다', '그루지야', '그리스', '기니', '기니비사우', '나미비아', '나우루', '나이지리아', '남수단공화국', '남아프리카공화국', '네덜란드', '네팔', '노르웨이', '뉴질랜드', '니제르', '니카라과', '덴마크', '도미니카공화국', '도미니카연방', '독일', '라오스', '라이베리아', '라트비아', '러시아(연방)', '레바논', '레소토', '루마니아', '룩셈부르크', '르완다', '리비아', '리투아니아', '리히텐슈타인', '마다가스카르', '마샬군도', '마카오', '마케도니아', '말라위', '말레이시아', '말리', '멕시코', '모로코', '모리셔스', '모리타니', '모잠비크', '몬테네그로', '몰도바', '몰디브', '몰타', '몽골', '무국적', '미국', '미등록국가', '미얀마', '바누아투', '바레인', '바베이도스', '바하마', '방글라데시', '베냉', '베네수엘라', '베트남', '벨기에', '벨로루시', '벨리즈', '보스니아-헤르체고비나', '보츠와나', '볼리비아', '부룬디', '부르키나파소', '부탄', '북마케도니아', '불가리아', '브라질', '브루나이', '사우디아라비아', '세네갈', '세르비아', '세인트루시아', '세인트크리스토퍼네비스', '소말리아', '솔로몬군도', '수단', '수리남', '스리랑카', '스와질란드', '스웨덴', '스위스', '스페인', '슬로바크', '슬로베니아', '시리아', '시에라리온', '싱가포르', '아랍에미리트연합', '아르메니아', '아르헨티나', '아이슬란드', '아이티', '아일랜드', '아제르바이잔', '아프가니스탄', '안도라', '알바니아', '알제리', '앙골라', '에리트레아', '에스와티니', '에스토니아', '에콰도르', '에티오피아', '엘살바도르', '영국', '영국외지민', '예멘공화국', '오만', '오스트레일리아', '오스트리아', '온두라스', '요르단', '우간다', '우루과이', '우즈베키스탄', '우크라이나', '이라크', '이란', '이스라엘', '이집트', '이탈리아', '인도', '인도네시아', '일본', '자메이카', '잠비아', '적도기니', '조지아', '중국', '중앙아프리카공화국', '지부티', '짐바브웨', '차드', '체코', '칠레', '카메룬', '카자흐스탄', '카타르', '캄보디아', '캐나다', '케냐', '코모로', '코소보', '코스타리카', '코트디부아르', '콜롬비아', '콩고', '콩고민주공화국', '쿠바', '쿠웨이트', '크로아티아', '키르기스스탄', '키르기즈', '키리바시', '키프로스', '타이', '타이완', '타지키스탄', '탄자니아', '터키', '토고', '투르크메니스탄', '투발루', '튀니지', '튀르키예', '트리니다드토바고', '티모르민주공화국', '파나마', '파라과이', '파키스탄', '파푸아뉴기니', '팔라우', '팔레스타인', '페루', '포르투갈', '폴란드', '프랑스', '피지', '핀란드', '필리핀', '한국계러시아인', '한국계중국인', '헝가리', '홍콩', '홍콩거주난민']
체류자격
['(구)교환학생', '교환학생', '단기유학', '대학부설 어학원 연수', '대학부설어학원연수', '박사과정', '박사유학', '석사과정', '석사유학', '시간제 아르바이트', '연구유학', '외국어연수', '외국어연수생', '전문학사', '전문학사과정', '학사과정', '학사유학', '학술연구기관 특정연구자']
학교명
has nan..
['학교법인성결대학교' '숭실대학교' '세종대학교' ... '(주)원푸드림' '(주)성주디앤디' '경희대학교 아태국제대학원']
체류지 시도
has nan..
[nan '서울특별시' '부산광역시' '경상남도' '인천광역시' '제주특별자치도' '대구광역시' '경상북도' '경기도' '대전광역시'
 '세종특별자치시' '광주광역시' '전라북도' '울산광역시' '충청북도' '충청남도' '강원도' '전라남도' '미상' '체류지미상'
 '시도 미상' 'Ltd)' ' Inc)']
체류지 시군구
has nan..
[nan '용산구' '광진구' '남구' '북구' '양산시' '사상구' '해운대구' '중구' '서대문구' '미추홀구' '연수구'
 '계양구' '제주시' '달서구' '경산시' '오산시' '동구' ' ' '노원구' '광산구' '완주군' '포천시' '청주시 청원구'
 '청주시 서원구' '청주시 흥덕구' '군산시' '평택시' '김해시' '수원시 장안구' '동대문구' '용인시 처인구' '종로구'
 '안산시 상록구' '아산시' '천안시 서북구' '구미시' '동작구' '성남시 수정구' '금정구' '부산진구' '성동구' '성북구'
 '대덕구' '서구' '진주시' '창원시 의창구' '울주군' '강릉시' '화성시' '강북구' '시흥시' '영등포구' '송파구'
 '영도구' '부평구' '수성구' '원주시' '의정부시' '충주시' '괴산군' '문경시' '마포구' '전주시 완산구'
 '창원시 마산합포구' '포항시 북구' '목포시' '군포시' '서산시' '용인시 수지구' '수원시 영통구' '관악구' '부천시'
 '양주시' '남동구' '안양시 만안구' '고성군' '수원시 권선구' '금천구' '정읍시' '제천시' '당진시' '속초시' '안성시'
 '경주시' '중랑구' '달성군' '음성군' '천안시 동남구' '유성구' '금산군' '전주시 덕진구' '광주시' '구로구' '김포시'
 '고령군' '창원시 마산회원구' '익산시' '춘천시' '은평구' '영동군' '거제시' '안산시 단원구' '성남시 중원구'
 '수원시 팔달구' '순천시' '홍성군' '김천시' '도봉구' '사하구' '곡성군' '삼척시' '파주시' '나주시' '여주시'
 '안동시' '여수시' '용인시 기흥구' '창원시 성산구' '고양시 일산동구' '논산시' '고양시 덕양구' '보령시' '남양주시'
 '창녕군' '서초구' '공주시' '강서구' '수영구' '증평군' '광명시' '강동구' '하남시' '강남구' '안양시 동안구'
 '담양군' '칠곡군' '이천시' '포항시 남구' '구리시' '무안군' '기장군' '동두천시' '고양시 일산서구' '옥천군'
 '진천군' '청주시 상당구' '서귀포시' '함양군' '성남시 분당구' '양천구' '동래구' '성주군' '사천시' '창원시 진해구'
 '연제구' '화순군' '강화군' '계룡시' '양평군' '의왕시' '의성군' '김제시' '태안군' '영주시' '가평군' '영암군'
 '밀양시' '예산군' '영월군' '통영시' '영천시' '홍천군' '광양시' '부여군' '동해시' '횡성군' '과천시' '거창군'
 '장성군' '함안군' '영광군' '평창군' '상주시' '보은군' '산청군' '고창군' '양양군' '울진군' '부안군' '남원시'
 '장흥군' '청양군' '부천시 소사구' '함평군' '임실군' '철원군' '순창군' '남해군' '강진군' '정선군' '미상'
 '해남군' '인제군' '진도군' '서천군' '체류지미상' '시군구 미상' '연천군' '경기도' '태백시' '서울특별시'
 '부천시 원미구' '부천시 오정구' '청도군' '의령군' '옹진군']

### 범주형 데이터 확인
- '체류자격'에 동일 데이터가 다른 명칭으로 포함됨
  - '대학부설 어학원 연수', '대학부설어학원연수', 
  - '박사과정', '박사유학', 
  - '석사과정', '석사유학', 
  - '시간제 아르바이트', 
  - '외국어연수', '외국어연수생', 
  - '전문학사', '전문학사과정', 
  - '학사과정', '학사유학', 
  - '학술연구기관 특정연구자', '연구유학'
- '학교명' 데이터에 기업명 확인 - '(주)원푸드림' '(주)성주디앤디' 등 아마도 연구소 일 듯, '미상', '학교명 미상'
- '체류지 시도' 데이터에 결측치 및 이상치 확인 - '미상' '체류지미상', 'Ltd)', ' Inc)'
- '체류지 시군구' 데이터에 결측치 및 공백 문자 ' '가 확인

![체류지오류데이터_1](images/%EC%B2%B4%EB%A5%98%EC%A7%80%EC%98%A4%EB%A5%98%EB%8D%B0%EC%9D%B4%ED%84%B0_1.PNG)
![체류지오류데이터_2](images/%EC%B2%B4%EB%A5%98%EC%A7%80%EC%98%A4%EB%A5%98%EB%8D%B0%EC%9D%B4%ED%84%B0_2.PNG)

## 범주형 데이터 클렌징

In [14]:
# 체류자격
print(df[df['체류자격'] == '학술연구기관 특정연구자']['학교명'].unique())
print(df[df['체류자격'] == '연구유학']['학교명'].unique())
print(df[df['체류자격'] == '시간제 아르바이트']['학교명'].unique())
print(df[df['체류자격'] == '외국어연수생']['조사년월'].unique())
print(df[df['체류자격'] == '(구)교환학생']['조사년월'].unique())
print(df[df['체류자격'] == '교환학생']['조사년월'].unique())

# 가급적 최신 형태로 맞춤
# 박사유학 -> 박사과정
# 석사유학 -> 석사과정 
# 전문학사 -> 전문학사과정 
# 학사유학 -> 학사과정 
# '대학부설 어학원 연수' -> '대학부설어학원연수'
# 외국어연수 -> 외국어연수생 
# (구)교환학생, 교환학생은 최근까지 혼용하는 것 같으니 유지

df['체류자격'] = df['체류자격'].str.replace('박사유학', '박사과정')
df['체류자격'] = df['체류자격'].str.replace('석사유학', '석사과정')
df['체류자격'] = df['체류자격'].str.replace('전문학사', '전문학사과정')  
df['체류자격'] = df['체류자격'].str.replace('학사유학', '학사과정')
df['체류자격'] = df['체류자격'].str.replace('대학부설 어학원 연수', '대학부설어학원연수')
df['체류자격'] = df['체류자격'].str.replace('외국어연수', '외국어연수생')  
# df['체류자격'] = df['체류자격'].str.replace('전문학사과정과정', '전문학사과정')
print(sorted(df['체류자격'].unique()))

['한국과학기술원' nan '한국과학기술연구원' '국립대학법인 서울대학교' '경상국립대학교' '부산대학교' '전북대학교'
 '고려대학교' '한양대학교산학협력단' '영남대학교' '인천대학교' '제주대학교' '성균관대학교' '충북대학교' '광운대학교'
 '주식회사 잼픽' '동아대학교' '용인대학교' '한양대학교' '창원대학교' '경북대학교' '(학)연세대학교' '중앙대학교'
 '한밭대학교' '부경대학교' '서강대학교' '포항공과대학교' '동의대학교' '목원대학교' '한국외국어대학교' '성균관대학교천천동'
 '연세대학교 산학협력단' '울산과학기술원' '전남대학교' '이화여자대학교 산학협력단' '서울대학교 미래혁신연구원' '공주대학교'
 '성균관대학교산학협력단' '서울대학교' '성균관대학교 자연과학캠퍼스' '한신대학교' '광주과학기술원'
 '동국대학교 WISE(와이즈)캠퍼스' '이화여자대학교' '충북대학교 산학협력단' '한국외국어대학교글로벌캠퍼스' '인하대학교'
 '서울시립대학교산학협력단' '통일연구원' '강원대학교' '서울과학기술대학교' '동국대학교' '고려대학교세종캠퍼스' '한림대학교'
 '서울대학교자연과학대학' '동국대학교 경주캠퍼스' '기초과학연구원' '대구대학교' '서울대학교 규장각한국학연구원' '청주대학교'
 '한동대학교' '경희대학교' '서울대학교 산학협력단' '강릉원주대학교' '상지대학교' '고려대학교산학협력단' '서울대학교 공과대학'
 '가천대학교 산학협력단(분사무소)' '서울대학교병원' '한미교육위원단' '대구경북과학기술원부설한국뇌연구원' '한국해양대학교'
 '국민대학교산학협력단' '서울대학교 인문학연구원' '서울대학교 인문대학' '한국생산기술연구원' '서울시립대학교'
 '연세대학교미래캠퍼스' '건국대학교' '목포해양대학교' '한국교통대학교산학협력단' '국민대학교' '강원대학교삼척캠퍼스'
 '한국국제교류재단' '재단법인대구경북과학기술원' '숙명여자대학교' '한남대학교' '경기대학교' '아주대학교' '국립부경대학교'
 '부산대학교산학협력단' '서울대신소재공동연구소' '강원대학교산학협력단' '서울대학교 약학대학' '가천대학교'
 '겐트대학교 글로벌캠퍼스' '수원대학교' '한국원자력연구원' '서울대학교 산화물전자공학연구단' '한국기술교육대학교'
 '에어랑엔뉘른베르크프리드리히알렉산더대학교' '인제대학교' '세종대학교' '한국학중앙연구원한국학대학원' '고려대학교 민족문화연구원'
 '경상대학교' '경희대학교국제캠퍼스' '한국전통복식연구소' '충남대학교' '울산대학교' '단국대학교' '서울대학교법학연구소'
 '아주대학교의료원' '육군대학' '연세대학교원주캠퍼스' '조선대학교' '한국학중앙연구원' '에프에이유부산간게엠베하,부산사무소'
 '안동대학교' '가톨릭대학교(성심교정)' '과학기술연합대학원대학교']
['서강대학교' '서울대그린바이오과학기술연구원' '가천대학교' '(학)연세대학교' '강원대학교산학협력단'
 '서울대학교 에너지자원 신기술연구소' '한국과학기술원' '고려대학교' '국민대학교산학협력단' '동아대학교' '성균관대학교'
 '서울대학교병원' '한국해양대학교' '아주대학교' '경희대학교' '중앙대학교 산학협력단' '포항공과대학교' '건국대학교'
 '한밭대학교' '한국외국어대학교' '영남대학교' '서울대학교' '서울대학교 인문대학' '서울대학교 공과대학' '국민대학교'
 '숙명여자대학교' nan '국립대학법인 인천대학교' '동국대학교' '서울대학교공과대학' '서울시립대학교' '이화여자대학교'
 '부산대학교' '국립부경대학교' '분당서울대학교 병원' '호서대학교' '인하대학교' '동국대학교 경주캠퍼스'
 '광운대학교 산학협력단' '국제수자원연구소' '상지대학교' '충남대학교산학협력단' '서울대학교사회과학연구원'
 '건국대학교 산학협력단' '대구가톨릭대학교' '경북대학교' '재단법인대구경북과학기술원' '가천대학교 산학협력단'
 '서울대학교 행정대학원' '기초과학연구원' '한국교원대학교' '한양대학교' '목포해양대학교' '창원대학교'
 '서울대학교 인문학연구원' '배재대학교' '연세대학교의료원 산학협력단' '서울대학교 약학대학' '전남대학교' '저스트스테이'
 '국어교육연구소' '서울대학교 산학협력단' '서울대학교 역사연구소' '안동대학교' '울산과학기술원' '서울대학교 생활과학대학'
 '순천향대학교(학)' '강원대학교' '대구대학교' '수원대학교' '겐트대학교 글로벌캠퍼스' '숙명여자대학교산학협력단' '미상'
 '광주과학기술원' '한림대학교' '서울과학기술대학교' '인제대학교' '경상대학교' '강릉원주대학교' '부산대학교산학협력단'
 '충북대학교 산학협력단' '과학기술연합대학원대학교' '세종대학교' '세한대학교' '공주대학교' '(재)한국학중앙연구원'
 '목포대학교' '부경대학교 산학협력단' '한국에너지기술연구원' '홍익대학교 세종캠퍼스' '경희대학교국제캠퍼스' '원광대학교'
 '서울대학교경제연구소' '한양대학교 산학협력단' '제주대학교' '국립암센터' '서울대학교 정밀기계설계공동연구소'
 '서울대학교 보건대학원' '성공회대학교' '충북대학교' '차세대IT선박융합기술' '고려대학교 의료원 산학협력단' '한국예술종합학교'
 '충남대학교' '한국국제교류재단' '충남대학교유학연구소' '강남대학교' '경기대학교 산학협력단' '한국학중앙연구원' '학교미상'
 '충남대학교 수리과학연구소' '경성대학교' '북경중국어학원' '에어랑엔뉘른베르크프리드리히알렉산더대학교 부산사'
 '서울대학교 반도체공동연구소' '서울대학교종합약학연구소' '한국과학기술연구원' '전북대학교' '단국대학교' '학교명 미상'
 '인하대학교 산학협력단' '한국원자력연구원' '재단법인한국파스퇴르연구소' '명지대학교' '서울여자대학교 외국어교육원'
 '김.장 법률사무소' '한국뉴욕주립대학교' '전남대학교산학협력단' '서울대학교 규장각한국학연구원' '단국대학교 산학협련단'
 '상명대학교' '한양대 유럽아프리카연구소' '공주대학교산학협력단' '중앙대학교' '한국개발연구원국제정책대학원대학교'
 '고려대학교산학협력단' '성균관대학교산학협력단' '연세의료원' '전자부품연구원' '에어랑엔뉘른베르크프리드리히알렉산더대학교'
 '(재) 한국고등교육재단' '서울대학교 교육연구소' '동의대학교' '한국기술교육대학교' '상명대학교산학협력단'
 '서울대학교 아시아연구소' '서울대학교치의학대학원' '경희대학교산학협력단' '육군대학' '한밭대학교산학협력단' '대전대학교'
 '한경대학교' '울산대학교' '서울대학교법학연구소']
['건국대학교' '광운대학교']
['202206' '202112' '202106' '202012' '202006' '201912' '201412']
['202206' '202112' '202106' '202012' '202006' '201912' '201412' '201406']
['202206' '202112' '202106' '202012' '202006' '201912' '201906' '201812'
 '201806' '201712' '201706' '201612' '201606' '201512' '201506' '201412'
 '201406']
['(구)교환학생', '교환학생', '단기유학', '대학부설어학원연수', '박사과정', '석사과정', '시간제 아르바이트', '연구유학', '외국어연수생', '외국어연수생생', '전문학사과정', '전문학사과정과정', '학사과정', '학술연구기관 특정연구자']

In [15]:
# 학교명 클렌징
print(df['학교명'].unique())

# 학교명 미상 -> 미상
# NaN -> 미상

df['학교명'] = df['학교명'].str.replace('학교명 미상', '미상') 
df['학교명'] = df['학교명'].fillna('미상')

# '학교명' 데이터에 기업명 확인 - '(주)원푸드림' '(주)성주디앤디' 등 아마도 연구소 일 듯, '미상', '학교명 미상'
print(df['학교명'].unique())

['학교법인성결대학교' '숭실대학교' '세종대학교' ... '(주)원푸드림' '(주)성주디앤디' '경희대학교 아태국제대학원']
['학교법인성결대학교' '숭실대학교' '세종대학교' ... '(주)원푸드림' '(주)성주디앤디' '경희대학교 아태국제대학원']

In [16]:
# 체류지 시도 클렌징
# '체류지 시도' 데이터에 결측치 및 이상치 확인 - '미상' '체류지미상', 'Ltd)', ' Inc)'

# Ltd) , ' Inc)' 2016년도 6월 데이터가 잘 못 입력되어있음이 확인되어 수정
display(df[df['체류지 시도'] == 'Ltd)']) # (주)브릭앤(Brick & Co.,Ltd),경기도,수원시 영통구
display(df[df['체류지 시도'] == ' Inc)']) # 주식회사 래티튜드 (Latitude, Inc),서울특별시,마포구

df.loc[df['체류지 시도'] == 'Ltd)', '학교명'] = '(주)브릭앤(Brick & Co.,Ltd)'
df.loc[df['체류지 시도'] == 'Ltd)', '체류지 시군구'] = '수원시 영통구'
df.loc[df['체류지 시도'] == 'Ltd)', '체류지 시도'] = '경기도'

df.loc[df['체류지 시도'] ==' Inc)', '학교명'] = '주식회사 래티튜드 (Latitude, Inc)'
df.loc[df['체류지 시도'] ==' Inc)', '체류지 시군구'] = '마포구'
df.loc[df['체류지 시도'] ==' Inc)', '체류지 시도'] = '서울특별시'

# df.loc[1756098, '학교명'] = '(주)브릭앤(Brick & Co.,Ltd)'
# df.loc[1818250, '학교명'] = '주식회사 래티튜드 (Latitude, Inc)' 
display(df.iloc[1756098])
display(df.iloc[1818250])

# '미상' '체류지미상' '시도 미상'
# 체류지미상 -> 미상
# 시도 미상 -> 미상
df['체류지 시도'] = df['체류지 시도'].str.replace('체류지미상', '미상')
df['체류지 시도'] = df['체류지 시도'].str.replace('시도 미상', '미상')
df['체류지 시도'] = df['체류지 시도'].fillna('미상')

# 확인
print(df['체류지 시도'].unique())
print(df['학교명'].unique())

        성별   국적명  체류자격                 학교명    조사년월      생년 체류지 시도 체류지 시군구  연령
1756098  여  그루지야  학사과정  (주)브릭앤(Brick & Co.  201606  1990.0   Ltd)     경기도  26

        성별   국적명  체류자격                  학교명    조사년월      생년 체류지 시도 체류지 시군구  연령
1818250  남  아일랜드  석사과정  주식회사 래티튜드 (Latitude  201606  1988.0   Inc)   서울특별시  28

성별                               여
국적명                           그루지야
체류자격                          학사과정
학교명        (주)브릭앤(Brick & Co.,Ltd)
조사년월                        201606
생년                          1990.0
체류지 시도                         경기도
체류지 시군구                    수원시 영통구
연령                              26
Name: 1756098, dtype: object

성별                                 남
국적명                             아일랜드
체류자격                            석사과정
학교명        주식회사 래티튜드 (Latitude, Inc)
조사년월                          201606
생년                            1988.0
체류지 시도                         서울특별시
체류지 시군구                          마포구
연령                                28
Name: 1818250, dtype: object

['미상' '서울특별시' '부산광역시' '경상남도' '인천광역시' '제주특별자치도' '대구광역시' '경상북도' '경기도'
 '대전광역시' '세종특별자치시' '광주광역시' '전라북도' '울산광역시' '충청북도' '충청남도' '강원도' '전라남도']
['학교법인성결대학교' '숭실대학교' '세종대학교' ... '(주)원푸드림' '(주)성주디앤디' '경희대학교 아태국제대학원']

In [17]:
# 체류지 시군구 클렌징
# '체류지 시군구' 데이터에 결측치 및 공백 문자 ' '가 확인 - '시군구 미상'

print(df['체류지 시군구'].unique())
display(df[df['체류지 시군구'] == ' ']) # 세종 특별 자치시
display(df[df['체류지 시군구'] == '미상']) # 시군구 미상 -> 체류지 시도가 미상인 것들은 미상으로 작성

# 확인
display(df[df['체류지 시군구'] == ' ']['체류지 시도'].unique()) # ['세종특별자치시', '충청남도'] 인 경우에 ' ' 으로 시군구가 지정되어 있음
display(df[df['체류지 시군구'].isnull()]['체류지 시도'].unique()) # '미상', '세종특별자치시'

# 체류지 시도가 미상인 경우 '미상'으로 1차 전환
display(df.loc[df['체류지 시도'] == '미상'])
df.loc[df['체류지 시도'] == '미상']['체류지 시군구'].fillna('미상')

# 체류지 시군구가 '체류지미상' -> '미상'
df['체류지 시군구'] = df['체류지 시군구'].str.replace('체류지미상', '미상')
df['체류지 시군구'] = df['체류지 시군구'].str.replace('시군구 미상', '미상') 

# df['체류지 시군구'] = df['체류지 시군구'].str.replace(' ', '미상')
# df['체류지 시군구'] = df['체류지 시군구'].fillna('미상')

# 체류지 시도와 체류지 시군구가 같은 데이터는 
# 먼저 체류지 시군구를 ' '로 바꿔두고 체류지 시도가 '미상'인 것들만 '미상'으로 변경해두자.
display(df[df['체류지 시도'] == df['체류지 시군구']])
df.loc[df['체류지 시도']==df['체류지 시군구'], '체류지 시군구'] = ' '
df.loc[df['체류지 시도']=='미상', '체류지 시군구'] = '미상'

# 체류지 시군구가 NaN 인경우는 ' '로 변경 
display(df[df['체류지 시군구'].isnull()])
display(df[df['체류지 시군구'].isnull()]['체류지 시도'].unique()) # 세종특별자치시
display(df[df['체류지 시군구'] == ' ']['체류지 시도'].unique()) # 충청남도, 경기도, 서울특별시
df['체류지 시군구'] = df['체류지 시군구'].fillna(' ')

                               
# 확인
print(df['체류지 시군구'].unique())

[nan '용산구' '광진구' '남구' '북구' '양산시' '사상구' '해운대구' '중구' '서대문구' '미추홀구' '연수구'
 '계양구' '제주시' '달서구' '경산시' '오산시' '동구' ' ' '노원구' '광산구' '완주군' '포천시' '청주시 청원구'
 '청주시 서원구' '청주시 흥덕구' '군산시' '평택시' '김해시' '수원시 장안구' '동대문구' '용인시 처인구' '종로구'
 '안산시 상록구' '아산시' '천안시 서북구' '구미시' '동작구' '성남시 수정구' '금정구' '부산진구' '성동구' '성북구'
 '대덕구' '서구' '진주시' '창원시 의창구' '울주군' '강릉시' '화성시' '강북구' '시흥시' '영등포구' '송파구'
 '영도구' '부평구' '수성구' '원주시' '의정부시' '충주시' '괴산군' '문경시' '마포구' '전주시 완산구'
 '창원시 마산합포구' '포항시 북구' '목포시' '군포시' '서산시' '용인시 수지구' '수원시 영통구' '관악구' '부천시'
 '양주시' '남동구' '안양시 만안구' '고성군' '수원시 권선구' '금천구' '정읍시' '제천시' '당진시' '속초시' '안성시'
 '경주시' '중랑구' '달성군' '음성군' '천안시 동남구' '유성구' '금산군' '전주시 덕진구' '광주시' '구로구' '김포시'
 '고령군' '창원시 마산회원구' '익산시' '춘천시' '은평구' '영동군' '거제시' '안산시 단원구' '성남시 중원구'
 '수원시 팔달구' '순천시' '홍성군' '김천시' '도봉구' '사하구' '곡성군' '삼척시' '파주시' '나주시' '여주시'
 '안동시' '여수시' '용인시 기흥구' '창원시 성산구' '고양시 일산동구' '논산시' '고양시 덕양구' '보령시' '남양주시'
 '창녕군' '서초구' '공주시' '강서구' '수영구' '증평군' '광명시' '강동구' '하남시' '강남구' '안양시 동안구'
 '담양군' '칠곡군' '이천시' '포항시 남구' '구리시' '무안군' '기장군' '동두천시' '고양시 일산서구' '옥천군'
 '진천군' '청주시 상당구' '서귀포시' '함양군' '성남시 분당구' '양천구' '동래구' '성주군' '사천시' '창원시 진해구'
 '연제구' '화순군' '강화군' '계룡시' '양평군' '의왕시' '의성군' '김제시' '태안군' '영주시' '가평군' '영암군'
 '밀양시' '예산군' '영월군' '통영시' '영천시' '홍천군' '광양시' '부여군' '동해시' '횡성군' '과천시' '거창군'
 '장성군' '함안군' '영광군' '평창군' '상주시' '보은군' '산청군' '고창군' '양양군' '울진군' '부안군' '남원시'
 '장흥군' '청양군' '부천시 소사구' '함평군' '임실군' '철원군' '순창군' '남해군' '강진군' '정선군' '미상'
 '해남군' '인제군' '진도군' '서천군' '체류지미상' '시군구 미상' '연천군' '태백시' '부천시 원미구' '부천시 오정구'
 '청도군' '의령군' '옹진군']

,성별,국적명,체류자격,학교명,조사년월,생년,체류지 시도,체류지 시군구,연령
485556,남,중국,전문학사과정과정,한국영상대학교,202012,2000.0,세종특별자치시,,20
485651,남,베트남,대학부설어학원연수,한국영상대학교,202012,2000.0,세종특별자치시,,20
485874,남,베트남,대학부설어학원연수,한국영상대학교,202012,2000.0,세종특별자치시,,20
485920,남,베트남,대학부설어학원연수,한국영상대학교,202012,2000.0,세종특별자치시,,20
486118,남,중국,학사과정,고려대학교세종캠퍼스,202012,2000.0,세종특별자치시,,20
...,...,...,...,...,...,...,...,...,...
1922089,남,중국,대학부설어학원연수,고려대학교세종캠퍼스,201512,1990.0,세종특별자치시,,25
1922313,남,에스토니아,교환학생,고려대학교세종캠퍼스,201512,1990.0,세종특별자치시,,25
1922480,여,몽골,전문학사과정,한국영상대학교,201512,1990.0,세종특별자치시,,25
1922611,여,캄보디아,석사과정,한국개발연구원국제정책대학원대학교,201512,1990.0,세종특별자치시,,25
1922663,남,파키스탄,석사과정,고려대학교세종캠퍼스,201512,1990.0,세종특별자치시,,25

        성별  국적명       체류자격         학교명    조사년월      생년 체류지 시도 체류지 시군구  연령
1214806  남  베트남  대학부설어학원연수       신라대학교  201806  1995.0     미상      미상  23
1214993  남   중국       학사과정      (주)유알지  201806  1996.0     미상      미상  22
1215299  남   중국  대학부설어학원연수       중부대학교  201806  1996.0     미상      미상  22
1215604  여   중국       학사과정       가천대학교  201806  1996.0     미상      미상  22
1217201  여   중국       학사과정  경희대학교국제캠퍼스  201806  1997.0     미상      미상  21
...     ..  ...        ...         ...     ...     ...    ...     ...  ..
1491245  여  베트남  대학부설어학원연수          미상  201712  1999.0     미상      미상  18
1491246  남  베트남  대학부설어학원연수          미상  201712  1999.0     미상      미상  18
1491247  여   타이  대학부설어학원연수          미상  201712  1981.0     미상      미상  36
1491248  남  베트남  대학부설어학원연수          미상  201712  1992.0     미상      미상  25
1491249  여   중국  대학부설어학원연수          미상  201712  1999.0     미상      미상  18

[10007 rows x 9 columns]

array(['세종특별자치시', '충청남도'], dtype=object)

array(['미상', '세종특별자치시'], dtype=object)

        성별    국적명       체류자격        학교명    조사년월      생년 체류지 시도 체류지 시군구    연령
0        남     말리       학사과정  학교법인성결대학교  202206     NaN     미상     NaN  None
1        남     중국       학사과정      숭실대학교  202206     NaN     미상     NaN  None
2        남  방글라데시       학사과정      세종대학교  202206     NaN     미상     NaN  None
3        남     미국       학사과정   한국외국어대학교  202206     NaN     미상     NaN  None
4        남     중국       학사과정      가천대학교  202206     NaN     미상     NaN  None
...     ..    ...        ...        ...     ...     ...    ...     ...   ...
2175878  여     몽골  대학부설어학원연수         미상  201406  1990.0     미상     NaN    24
2175879  남     중국       학사과정         미상  201406  1990.0     미상     NaN    24
2175880  여     중국  대학부설어학원연수         미상  201406  1986.0     미상     NaN    28
2175881  여     중국  대학부설어학원연수         미상  201406  1987.0     미상     NaN    27
2175882  남  말레이시아  대학부설어학원연수         미상  201406  1989.0     미상     NaN    25

[786584 rows x 9 columns]

        성별  국적명       체류자격         학교명    조사년월      생년 체류지 시도 체류지 시군구  연령
1214806  남  베트남  대학부설어학원연수       신라대학교  201806  1995.0     미상      미상  23
1214993  남   중국       학사과정      (주)유알지  201806  1996.0     미상      미상  22
1215299  남   중국  대학부설어학원연수       중부대학교  201806  1996.0     미상      미상  22
1215604  여   중국       학사과정       가천대학교  201806  1996.0     미상      미상  22
1217201  여   중국       학사과정  경희대학교국제캠퍼스  201806  1997.0     미상      미상  21
...     ..  ...        ...         ...     ...     ...    ...     ...  ..
1726793  여   중국  대학부설어학원연수          미상  201612  1995.0     미상      미상  21
1726794  남   중국  대학부설어학원연수          미상  201612  1995.0     미상      미상  21
1726795  여   중국  대학부설어학원연수          미상  201612  1993.0     미상      미상  23
1726796  남   중국       석사과정          미상  201612  1982.0     미상      미상  34
1726797  남   중국       교환학생          미상  201612  1995.0     미상      미상  21

[19319 rows x 9 columns]

,성별,국적명,체류자격,학교명,조사년월,생년,체류지 시도,체류지 시군구,연령
1727079,여,몽골,전문학사과정,한국영상대학교,201606,1992.0,세종특별자치시,NaN,24
1727800,남,중국,전문학사과정,한국영상대학교,201606,1995.0,세종특별자치시,NaN,21
1727810,여,독일,교환학생,고려대학교세종캠퍼스,201606,1994.0,세종특별자치시,NaN,22
1728140,여,중국,교환학생,한국영상대학교,201606,1996.0,세종특별자치시,NaN,20
1728183,여,중국,교환학생,한국영상대학교,201606,1996.0,세종특별자치시,NaN,20
...,...,...,...,...,...,...,...,...,...
1823324,여,중국,대학부설어학원연수,충남대학교,201606,1992.0,세종특별자치시,NaN,24
1823329,여,타이,석사과정,한국개발연구원국제정책대학원대학교,201606,1992.0,세종특별자치시,NaN,24
1824002,남,스리랑카,전문학사과정,한국영상대학교,201606,1993.0,세종특별자치시,NaN,23
1824089,남,중국,석사과정,고려대학교세종캠퍼스,201606,1993.0,세종특별자치시,NaN,23
1824815,남,중국,대학부설어학원연수,고려대학교세종캠퍼스,201606,1994.0,세종특별자치시,NaN,22

array(['세종특별자치시'], dtype=object)

array(['세종특별자치시', '충청남도'], dtype=object)

['미상' '용산구' '광진구' '남구' '북구' '양산시' '사상구' '해운대구' '중구' '서대문구' '미추홀구' '연수구'
 '계양구' '제주시' '달서구' '경산시' '오산시' '동구' ' ' '노원구' '광산구' '완주군' '포천시' '청주시 청원구'
 '청주시 서원구' '청주시 흥덕구' '군산시' '평택시' '김해시' '수원시 장안구' '동대문구' '용인시 처인구' '종로구'
 '안산시 상록구' '아산시' '천안시 서북구' '구미시' '동작구' '성남시 수정구' '금정구' '부산진구' '성동구' '성북구'
 '대덕구' '서구' '진주시' '창원시 의창구' '울주군' '강릉시' '화성시' '강북구' '시흥시' '영등포구' '송파구'
 '영도구' '부평구' '수성구' '원주시' '의정부시' '충주시' '괴산군' '문경시' '마포구' '전주시 완산구'
 '창원시 마산합포구' '포항시 북구' '목포시' '군포시' '서산시' '용인시 수지구' '수원시 영통구' '관악구' '부천시'
 '양주시' '남동구' '안양시 만안구' '고성군' '수원시 권선구' '금천구' '정읍시' '제천시' '당진시' '속초시' '안성시'
 '경주시' '중랑구' '달성군' '음성군' '천안시 동남구' '유성구' '금산군' '전주시 덕진구' '광주시' '구로구' '김포시'
 '고령군' '창원시 마산회원구' '익산시' '춘천시' '은평구' '영동군' '거제시' '안산시 단원구' '성남시 중원구'
 '수원시 팔달구' '순천시' '홍성군' '김천시' '도봉구' '사하구' '곡성군' '삼척시' '파주시' '나주시' '여주시'
 '안동시' '여수시' '용인시 기흥구' '창원시 성산구' '고양시 일산동구' '논산시' '고양시 덕양구' '보령시' '남양주시'
 '창녕군' '서초구' '공주시' '강서구' '수영구' '증평군' '광명시' '강동구' '하남시' '강남구' '안양시 동안구'
 '담양군' '칠곡군' '이천시' '포항시 남구' '구리시' '무안군' '기장군' '동두천시' '고양시 일산서구' '옥천군'
 '진천군' '청주시 상당구' '서귀포시' '함양군' '성남시 분당구' '양천구' '동래구' '성주군' '사천시' '창원시 진해구'
 '연제구' '화순군' '강화군' '계룡시' '양평군' '의왕시' '의성군' '김제시' '태안군' '영주시' '가평군' '영암군'
 '밀양시' '예산군' '영월군' '통영시' '영천시' '홍천군' '광양시' '부여군' '동해시' '횡성군' '과천시' '거창군'
 '장성군' '함안군' '영광군' '평창군' '상주시' '보은군' '산청군' '고창군' '양양군' '울진군' '부안군' '남원시'
 '장흥군' '청양군' '부천시 소사구' '함평군' '임실군' '철원군' '순창군' '남해군' '강진군' '정선군' '해남군'
 '인제군' '진도군' '서천군' '연천군' '태백시' '부천시 원미구' '부천시 오정구' '청도군' '의령군' '옹진군']

In [18]:
# 연령, 생년의 결측치는 0으로 지정하고 데이터 타입은 int 로 변경
# (Moon) 결측치는 평균으로 대체하는것이 좋을 것 같습니다
df['연령'] = df['연령'].fillna(0).astype('int')
df['생년'] = df['생년'].fillna(0).astype('int')

# 확인
print(df['연령'].unique())
print(df['생년'].unique())

[ 0 20 19 18 17 16 15 76 74 71 69 68 67 66 65 64 63 62 61 60 59 58 57 56
 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32
 31 30 29 28 27 26 25 24 23 22 21 84 80 70 14 75 73 83 79 78 82 11 77 81
 13 72 85  8]
[   0 2000 2001 2002 2003 2004 2005 1944 1946 1949 1951 1952 1953 1954
 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968
 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982
 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996
 1997 1998 1999 1936 1940 1950 2007 1943 1942 1947 1945 1948 1930 1931
 2006]

In [19]:
# 마지막으로 중복 데이터 제거해야하는데 개별 통계라서 드랍하면 안된다. ^^
# df = df.drop_duplicates() 하지마!! 
df.reset_index(drop=True, inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175883 entries, 0 to 2175882
Data columns (total 9 columns):
 #   Column   Dtype
---  ------   -----
 0   성별       object
 1   국적명      object
 2   체류자격     object
 3   학교명      object
 4   조사년월     object
 5   생년       int64
 6   체류지 시도   object
 7   체류지 시군구  object
 8   연령       int64
dtypes: int64(2), object(7)
memory usage: 149.4+ MB

In [22]:
# 저장
df.to_csv('./data/클렌징_법무부_외국인_유학생_관리정보_1.csv', index=False)

In [34]:
# 연도와 연령의 0 값은 NaN으로 수정 후 저장 - 시각화 및 통계는 해당 값을 사용하는게 좋을 듯
import numpy as np
df.loc[df['연령']==0, '연령'] = df[df['연령']==0]['연령'].replace(0, np.NaN).astype(float)
df.loc[df['생년']==0, '생년'] = df[df['생년']==0]['생년'].replace(0, np.NaN).astype(float)

display(df.head(10))

df.to_csv('./data/클렌징_법무부_외국인_유학생_관리정보_fin.csv', index=False)

  성별    국적명       체류자격        학교명    조사년월  생년 체류지 시도 체류지 시군구  연령
0  남     말리       학사과정  학교법인성결대학교  202206 NaN     미상      미상 NaN
1  남     중국       학사과정      숭실대학교  202206 NaN     미상      미상 NaN
2  남  방글라데시       학사과정      세종대학교  202206 NaN     미상      미상 NaN
3  남     미국       학사과정   한국외국어대학교  202206 NaN     미상      미상 NaN
4  남     중국       학사과정      가천대학교  202206 NaN     미상      미상 NaN
5  남     중국  대학부설어학원연수      건국대학교  202206 NaN     미상      미상 NaN
6  남    베트남  대학부설어학원연수      경성대학교  202206 NaN     미상      미상 NaN
7  남    베트남  대학부설어학원연수  부산과학기술대학교  202206 NaN     미상      미상 NaN
8  남    베트남   전문학사과정과정  동원과학기술대학교  202206 NaN     미상      미상 NaN
9  남     중국  대학부설어학원연수      신라대학교  202206 NaN     미상      미상 NaN

# 프로파일링 결과 확인

In [20]:
import pandas_profiling
from datetime import datetime

pr = df.profile_report() # 프로파일링 결과 리포트를 pr에 저장
report_path = 'profile_{}.html'.format(datetime.now().strftime('%Y%m%d'))
pr.to_file(report_path)

c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Summarize dataset:  48%|████▊     | 10/21 [00:24<00:12,  1.11s/it, Calculate auto correlation]  c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\scipy\stats\_stats_py.py:112: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "
Summarize dataset:  52%|█████▏    | 11/21 [00:36<00:31,  3.19s/it, Calculate spearman correlation]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\multimethod\__init__.py:315: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  return func(*args, **kwargs)
Summarize dataset:  62%|██████▏   | 13/21 [00:37<00:20,  2.53s/it, Calculate kendall correlation] c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\scipy\stats\_stats_py.py:5218: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))
Summarize dataset:  53%|█████▎    | 16/30 [00:55<01:10,  5.05s/it, scatter 조사년월, 조사년월]           c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
Summarize dataset:  57%|█████▋    | 17/30 [00:57<00:56,  4.33s/it, scatter 생년, 조사년월]    c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
Summarize dataset:  60%|██████    | 18/30 [00:58<00:43,  3.59s/it, scatter 연령, 조사년월]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
Summarize dataset:  63%|██████▎   | 19/30 [01:00<00:33,  3.03s/it, scatter 조사년월, 생년]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
Summarize dataset:  67%|██████▋   | 20/30 [01:01<00:25,  2.59s/it, scatter 생년, 생년]    c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
Summarize dataset:  70%|███████   | 21/30 [01:02<00:17,  1.99s/it, scatter 연령, 생년]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
Summarize dataset:  73%|███████▎  | 22/30 [01:02<00:12,  1.56s/it, scatter 조사년월, 연령]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
Summarize dataset:  77%|███████▋  | 23/30 [01:04<00:10,  1.52s/it, scatter 생년, 연령]    c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
Summarize dataset:  80%|████████  | 24/30 [01:04<00:07,  1.22s/it, scatter 연령, 연령]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
Summarize dataset:  81%|████████▏ | 26/32 [01:05<00:05,  1.02it/s, Missing diagram bar]     c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49457 (\N{HANGUL SYLLABLE SEONG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 48324 (\N{HANGUL SYLLABLE BYEOL}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44397 (\N{HANGUL SYLLABLE GUG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51201 (\N{HANGUL SYLLABLE JEOG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47749 (\N{HANGUL SYLLABLE MYEONG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 52404 (\N{HANGUL SYLLABLE CE}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47448 (\N{HANGUL SYLLABLE RYU}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51088 (\N{HANGUL SYLLABLE JA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44201 (\N{HANGUL SYLLABLE GYEOG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 54617 (\N{HANGUL SYLLABLE HAG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44368 (\N{HANGUL SYLLABLE GYO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51648 (\N{HANGUL SYLLABLE JI}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49884 (\N{HANGUL SYLLABLE SI}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 46020 (\N{HANGUL SYLLABLE DO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44400 (\N{HANGUL SYLLABLE GUN}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44396 (\N{HANGUL SYLLABLE GU}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
Summarize dataset:  84%|████████▍ | 27/32 [01:07<00:05,  1.03s/it, Missing diagram matrix]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49457 (\N{HANGUL SYLLABLE SEONG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 48324 (\N{HANGUL SYLLABLE BYEOL}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44397 (\N{HANGUL SYLLABLE GUG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51201 (\N{HANGUL SYLLABLE JEOG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47749 (\N{HANGUL SYLLABLE MYEONG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 52404 (\N{HANGUL SYLLABLE CE}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47448 (\N{HANGUL SYLLABLE RYU}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51088 (\N{HANGUL SYLLABLE JA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44201 (\N{HANGUL SYLLABLE GYEOG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 54617 (\N{HANGUL SYLLABLE HAG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44368 (\N{HANGUL SYLLABLE GYO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51648 (\N{HANGUL SYLLABLE JI}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49884 (\N{HANGUL SYLLABLE SI}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 46020 (\N{HANGUL SYLLABLE DO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44400 (\N{HANGUL SYLLABLE GUN}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44396 (\N{HANGUL SYLLABLE GU}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
Summarize dataset: 100%|██████████| 32/32 [01:14<00:00,  2.33s/it, Completed]
Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50668 (\N{HANGUL SYLLABLE YEO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45224 (\N{HANGUL SYLLABLE NAM}) missing from current font.
  plt.savefig(

# TODO
- ~~필드 값, 중복 제거 확인 필요 - profiling 쓰자~~ 완료!
- 시각화하여 분석 결과 마련 
- 파워포인트 작성

# 발표 자료 (교수님 팁)
## 교수님 팁
- 배경
  - 데이터 선정의 이유와 목적 소개
  - 상식적으로 알 수 있는 인사이트 정의
- 데이터전처리
  - 필요한 정보 선별, 결측치 보정
- 시각화를 통한 결론
  - 시각화를 통한 결론 도출과 상식으로 생각할 수 있는 내용에 대한 증명 
  - 추가로 발견하게 된 인사이트 확인 (너무 특이 사항에 집착하지 않아도 됨)
- 데이터 앱 
  - 필수는 아니며 옵션으로 진행

## 발표 목차
- 배경
- 데이터 전처리
- 시각화 결론
- 데이터 앱은 옵션